body{
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 *{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
 }
 header{
     width: 100%;
     height: 60px;
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 100px;
 }
 .logo{
     font-size: 20px;
     color: white;
     margin-left: -40px;
 }
 .humburger{
     display: none;
 }
 .nav-bar ul{
     display: flex;
 }
 .nav-bar ul li a{
     display: block;
     color: white;
     font-size: 16px;
     padding: 10px 15px;
     border-radius: 50px;
     transition: 0.2s;
     margin: 0 5px;
 }
 .nav-bar ul li a:hover{
     color: black;
     background-color: white;
 }
 .nav-bar ul li a.active{
     color: black;
     background-color: white;
 }
 @media only screen and (max-width: 1320px){
     header{
         padding: 0 50px;
     }
 }
 @media only scree and (max-width: 1100px){
     header{
         padding: 0 30px;
     }
 }
p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}
 .con1{
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    padding: 50px;
    opacity: 90%;
    border-radius: 10px;
 }
 .devpic{
    width: 200px;
    height: 180px;
    border-radius: 10px 10px 0 0;
 }
 .person1{
    width: 200px;
    height: 255px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .person2{
    width: 200px;
    height: 255px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .person3{
    width: 200px;
    height: 255px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .person4{
    width: 200px;
    height: 255px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .fa {
    padding: 5px;
    font-size: 10px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 4px;
  }
  .fa:hover {
    opacity: 0.7;
  }
 /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /* whatsap */
  .fa-whatsapp {
    background: #2ebe3a;
    color: white;
  }