body{
   background-image: url(3.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-size: 20px;
    color: white;
    margin-left: -40px;
}
.humburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: black;
    background-color: white;
}
.nav-bar ul li a.active{
    color: black;
    background-color: white;
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only scree and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

p{
    padding: 30px;
    font-size: 16px;
}
h2{
    padding-left: 30px;
    padding-top: 20px;
}
.cornsmut{
    width: 900px;
    height: 350px;
    background-color: white;
    opacity: 90%;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 80%;
}
.corn{
    width: 220px;
    height: 220px;
    padding: 30px;
    float: left;

}


.downy{
    width: 900px;
    height: 380px;
    background-color: white;
    opacity: 90%;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 80%;
}

.root{
    width: 900px;
    height: 430px;
    background-color: white;
    opacity: 90%;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 80%;
}